@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}

.container{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}
body{
    font-family: 'Roboto', sans-serif;
}
header.site-init{
    background-color: rgb(48, 110, 172);
    color:white;
    height: 30vh;
}

.bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;   
}

.menu a{
    columns: white;
    margin-right: 30px;
    text-decoration: none;
}
.table th,td{
    border: 1px solid #ddd;
    width: 6%;

}
th{
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ddd;
    background-color: lightslategray;
    text-align: left;
    color: white;
}
tr:nth-child(even){
    background-color: #f2f2f2;

}

.input-error{
    border:1px solid red;
}

/*form*/
.form-container{
    background-color: #dedede;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 1rem;
}
.form-control{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.form-control:first-of-type{
    margin: 1rem;
}
.form-control label{
    flex-basis: 20%;
    text-align: right;
    margin-right: 1rem;
}
.form-control input{
    flex-basis: 80%;
    padding: 5px;
}
.form-container button{
    margin-left: 80%;
    border: 1px solid #000000;
    background-color: #252525;
    color: #dedede;
    padding: 0.5rem;
    border-radius: 5px;
}
.alert-error{
    background-color: #f8acac;
    color: red;
    padding: 3px;
    margin: 1rem 0 1rem;
    text-align: center;
    border-radius: 5px;
}
.hide{
    display: none;
}