@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif
}
header.site-header{
    background-color: lightslategray;
    color:white;
    height: 30vh;
}

.bar{
    display: flex;
    justify-content: space-between;
    
}